.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-card h3,
.project-card p {
  margin: 10px 0;
}

.project-card p {
  font-size: 0.9rem;
  color: #6c757d;
}

.project-form {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
}

.project-form input:focus {
  border-color: #007bff;
  outline: none;
}

.project-buttons {
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  text-align: center;
}

.project-buttons.edit {
  background-color: #0ecbaf; 
  color: black;
}

.project-buttons.edit:hover {
  background-color: #3ef1d6;
}

.project-buttons.delete {
  background-color: #dc3545; 
  color: white;
}

.project-buttons.delete:hover {
  background-color: #c82333;
}

/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
  .project-card {
    padding: 15px;
  }

  .project-image {
    margin-bottom: 10px;
  }

  .project-card h3,
  .project-card p {
    margin: 5px 0;
  }

  .project-form {
    padding: 15px;
  }

  .project-form input {
    padding: 8px;
    margin-bottom: 8px;
    font-size: 0.9rem;
  }

  .project-buttons {
    padding: 8px 15px;
    font-size: 0.9rem;
    margin: 3px;
  }
}

/* Media query for screens with a minimum width of 768px */
@media (min-width: 768px) {
  .project-card {
    padding: 20px;
  }

  .project-image {
    margin-bottom: 15px;
  }

  .project-card h3,
  .project-card p {
    margin: 10px 0;
  }

  .project-form {
    padding: 20px;
  }

  .project-form input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .project-buttons {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 5px;
  }
}