.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
  position: sticky;
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 40px);
  text-align: center;
  margin-bottom: 30px;
}

.project-card img.project-image {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.project-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.project-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.project-form {
  background-color: #f0f4f8;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.project-buttons {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 25px;
  cursor: pointer;
}

.project-buttons:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .project-card {
    width: calc(100% - 20px);
  }
}
